/* Стили для футера */
footer {
    background-color: #1a202c; /* Темный фон */
    color: white; /* Белый текст */
    padding: 30px 0; /* Отступы сверху и снизу */
    text-align: center; /* Центрирование текста */

}

footer .container {
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера */
    padding: 0 15px; /* Отступы по бокам */
}

footer p {
    margin: 10px 0; /* Отступы сверху и снизу для абзацев */
    font-size: 1rem; /* Размер шрифта */
    color: #e2e8f0; /* Светлый цвет текста для контента */
}

footer p a {
    color: #06122e; /* Синий цвет для ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s ease; /* Плавное изменение цвета при наведении */
}

footer p a:hover {
    color: #06122e; /* Светлый синий цвет при наведении */
}
