body {
    font-family: 'Cormorant Garamond';
    /*font-style: bold;*/
    font-size: 20.2px;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    color: #333;
}

.content {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #06122e;
    margin-bottom: 25px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #fac1c1;
    text-align: center;
    color: white;
    padding: 12px 15px;
    /*text-align: left;*/
}

td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f9ff;
}

.submit-btn {
    background-color: #fb9696;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #fb9696;
}

.no-subordinations {
    text-align: center;
    color: #f5e0c3;
    padding: 20px;
    font-style: italic;
}