<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Управление | "The Lighthouse"</title>
  <link rel="stylesheet" th:href="@{/menuShow.css}">
</head>
<body>
  <h1 class="menu-title">Меню | "The Lighthouse"</h1>
  <form method="get" th:action="@{/menu}">
    <button type="submit" class="back-btn">Вернуться к меню</button>
  </form>
  <div class="form-container">
    <h2 class="form-title" style="font-style: italic;">Панель управления позицией</h2>
    <form method="post" th:action="@{/menu/{id}/update(id=${id})}">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" th:value="${item.name}" required>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" name="description" th:value="${item.description}" required>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" id="type" name="type" th:value="${item.type}" required>
      </div>

      <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <input type="text" id="ingredients" name="ingredients" th:value="${item.ingredients}" required>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" id="price" name="price" th:value="${item.price}" required>
        <span th:if="${priceError != null}" th:text="${priceError}" class="error-message" style="color: #c97575;"></span>
      </div>

      <button type="submit" class="submit-btn">Обновить</button>
    </form>
    <p></p>
    <form method="post" th:action="@{/menu/{id}/delete(id=${id})}">
      <button type="submit" class="submit-btn">Удалить</button>
    </form>
  </div>
</body>
</html>