<!--<!DOCTYPE html>-->
<!--<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{layout.html}">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" th:href="@{/css/menu.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/header.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/footer.css}">-->

<!--    <script src="https://cdn.tailwindcss.com"></script>-->
<!--    <title>Меню | "The Lighthouse"</title>-->
<!--</head>-->
<!--<body>-->
<!--<th:block th:replace="layout :: header" class="header"></th:block>-->
<!--<br>-->
<!--<th:block layout:fragment="content">-->

<!--    <form method="get" th:action="@{/menu/create}">-->
<!--        <button type="submit" class="submit-btn">+  cоздать новую позицию</button>-->
<!--    </form>-->
<!--    <br>-->
<!--    <table class="menu-table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Название</th>-->
<!--            <th>Описание</th>-->
<!--            <th>Тип</th>-->
<!--            <th>Ингредиенты</th>-->
<!--            <th class="price-column">Цена</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="item : ${items}">-->
<!--            <td> <a th:href="@{/menu/{id}(id=${item.id})}" th:text="${item.name}"></a></td>-->
<!--            <td th:text="${item.description}"></td>-->
<!--            <td th:text="${item.type}"></td>-->
<!--            <td class="ingredients-cell" th:text="${item.ingredients}"></td>-->
<!--            <td class="price-column" th:text="${item.price}">-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</th:block>-->

<!--<th:block th:replace="layout :: footer"  class="footer"></th:block>-->
<!--</body>-->
<!--</html>-->