<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link rel="stylesheet" th:href="@{/menu.css}">
    <link rel="stylesheet" th:href="@{/header.css}">
    <link rel="stylesheet" th:href="@{/footer.css}">

    <script src="https://cdn.tailwindcss.com"></script>
    <title>Меню | "The Lighthouse"</title>
</head>

<body>

<th:block th:replace="layout :: header" class="header"></th:block>

<th:block layout:fragment="content">
    <table class="menu-table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Тип</th>
            <th>Ингредиенты</th>
            <th class="price-column">Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.description}"></td>
            <td th:text="${item.type}"></td>
            <td class="ingredients-cell" th:text="${item.ingredients}"></td>
            <td class="price-column" th:text="${item.price}">
            </td>
        </tr>
        </tbody>
    </table>
</th:block>

<th:block th:replace="layout :: footer"  class="footer"></th:block>

</body>
</html>