<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <title>Profile | "The Lighthouse"</title>
</head>
<body>
<th:block th:replace="layout :: header"  class="header"></th:block>

<th:block layout:fragment="content">
    <div class="round-img-container" >
        <img th:src="${photo}" alt="Описание" class="round-img">
    </div>

    <div th:if="${error}">
        <p style="color: #c97575;" th:text="${error}" class="font-semibold"></p>
    </div>

    <div>
        <p id="role" th:text="${worker.role}"></p>
    </div>

    <form method="post" th:action="@{/profile}" class="profile-form">

        <div>
            <label for="username">Юзернейм</label>
            <input type="text" id="username" name="username" th:value="${worker.username}" required>
        </div>

        <div>
            <label for="fullName">Фамилия Имя Отчество</label>
            <input type="text" id="fullName" name="fullName"
                   th:value="${worker.fullName}">
        </div>

        <div>
            <label for="birthDate">Дата Рождения</label>
            <input type="date" id="birthDate" name="birthDate"
                   th:value="${worker.birthDate}" >
        </div>

        <div>
            <label for="photo">Фото</label>
            <input type="text" id="photo" name="photo" th:value="${worker.photo}" >
        </div>

        <button type="submit" class="button-up">Сохранить изменения</button>

    </form>
</th:block>

<th:block th:replace="layout :: footer"  class="footer"></th:block>
</body>
</html>