<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <script src="https://cdn.tailwindcss.com"></script>
    <title>Главная | The Lighthouse</title>
</head>
<body>

<th:block th:replace="layout :: header" class="header"></th:block>

<th:block layout:fragment="content">
    <section class="relative h-screen" style=" background-size: cover; background-position: center;">
        <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center text-white text-center">
            <h2 class="text-4xl font-bold mb-4">Добро пожаловать в "The Lighthouse"</h2>
            <p class="text-lg mb-6" style="font-style: italic;">Из моря на ваш стол</p>
            <a th:href="@{/menu}" class="button-up" style="padding: 1em 1.8em; font-size: 20px;">Посмотреть меню</a>
        </div>
    </section>
</th:block>

<th:block th:replace="layout :: footer" class="footer"></th:block>

</body>
</html>

